{% extends "layout.html" %}

{% block title %} leaderboard {% endblock %}

{% block body %}

<div class="container py-5 text-center">

    <table class="table">
        <thead>
            <tr>
                <th>WPM</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for wpm, time in records %}
            <tr>
                <td>{{ "%.1f" | format(wpm) }}</th>
                <td>{{ time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
